body {
  background-color:#00D3F6;
}
.flex-main{
  display: flex;
  flex-direction: row;
}
.profile-card{
  width:30%;
  background-color:#FF7CFF;
  padding:2%;
  margin:2%;
  border:3px double yellow;
}
.content-card{
  width:60%;
  background-color:#FF7CFF;
  padding:2%;
  margin:2%;
  box-shadow: 3px 3px 3px 3px orange;
}
.profile-image{
  display: block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border:2px dashed black;
}
h2,h3,h4{
  text-align: center;
}
@media only screen and (min-width:320px) and (max-width:468px)
{
  .flex-main{
  display:flex;
  flex-direction: column;
}
.profile-card{
  width:100%;
  background-color:#0000FF;
  padding:2%;
  margin:2%;
  border:3px solid yellow;
}
.content-card{
  width:100%;
  background-color:#0000FF;
  padding:2%;
  margin:2%;
  border:3px solid yellow;
}
@media only screen and (min-width:460px) and (max-width:1060px)
flex-main{
  display: flex;
  flex-direction: row;
}
.profile-card{
  width:50%;
  background-color:#0000FF;
  padding:2%;
  margin:2%;
  border:3px solid yellow;
}
.content-card{
  width:50%;
  background-color:#0000FF;
  padding:2%;
  margin:2%;
  border:3px solid yellow;
}
